// Breakpoints
$layout-breakpoint-large: 1920px;
$layout-breakpoint-medium: 1440px;
$layout-breakpoint-tablet: 1024px;
$layout-breakpoint-mobile: 600px;
$layout-breakpoint-small-mobile: 350px;

// Colors
$orange: #E56333;
$green: #1F4C4B;
$white: #F6F6F6;
$black: #3C3C3B;
