body {
  background: white;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  &::-webkit-scrollbar{
    width: 0;
  }
}

.header{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 40px 80px;
  z-index: 10;
  &__logo{
    height: 22px;
  }
  &__contact{
    text-transform: lowercase;
    letter-spacing: 1px;
    transition: all .3s;
    transition-delay: .2s;
  }
}